.text-area{
    display: block;
    width: 50%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;

}
#output{
    border: 1px solid black;
    height: 10vh;
    width: 50%;
    padding: 1rem;
    margin: 1rem;
}